@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállítva";
}

<h1>@ViewData["Title"]</h1>
<p>
    A jelszavadat visszaállítottuk. Kattints <a asp-page="./Login">ide a bejelentkezéshez</a>.
</p>
