@using evocontest.WebApp.Controllers;
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/signalr/signalr.js"></script>
<script>
    $(function () {
        function handleMessage(msgType, message) {
            const encodedMsg = "[" + msgType + "] " + message;
            const li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("messagesList").appendChild(li);
        }

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/workerhub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("connected");
        });

        connection.on("ReceiveMessage", (message) => {
            handleMessage("ReceiveMessage", message);
        });

        connection.on("ValidateSubmissions", (message) => {
            handleMessage("ValidateSubmissions", message);
        });

        connection.on("RunRace", () => {
            handleMessage("RunRace", "");
        });
    });
</script>

<h1>Admin</h1>

@ViewBag.Message

@using (Html.BeginForm(nameof(AdminController.DoClearAllSubmissions), "Admin", FormMethod.Post))
{
    <input type="submit" value="Delete all submissions" onclick="return confirm('Biztos?')" />
}

@using (Html.BeginForm(nameof(AdminController.DoClearAllMatches), "Admin", FormMethod.Post))
{
    <input type="submit" value="Delete all matches" onclick="return confirm('Biztos?')" />
}

@using (Html.BeginForm(nameof(AdminController.DoRunRace), "Admin", FormMethod.Post))
{
    <input type="submit" value="Run race" onclick="return confirm('Biztos?')" />
}

<h5>SignalR messages</h5>
<ul id="messagesList" style="font-size: x-small"></ul>
