@page
@model IndexModel
@{
    ViewData["Title"] = "evocontest";
}

<div class="text-center" style="padding-top: 1em; padding-bottom: 2em">
    <h1 class="display-4">evocontest</h1>
    <h2>Rövidíts egy Rövidért!</h2>
</div>

<div style="max-width: 50vw; min-width:30em; margin-left:auto; margin-right:auto">
    <p style="font-size: 18px">Indulás: <span id="countdown"></span> múlva!</p>
    <div class="clearfix">
        @*      <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" class="float-right" />*@
        <h2>A verseny</h2>
        <p>
            A résztvevőknek két hét alatt kell minél hatékonyabb megoldást adni a versenyfeladatra. A leggyorsabb program nyer.
            A feltöltött szerelvények minden nap szembe szállnak egymással, az eredmények alapján pedig a versenyzők folyamatosan figyelhetik az erőviszonyokat.
            A győztesek egy utolsó, élő összecsapás keretében kerülnek ki.
        </p>
    </div>
    <div class="clearfix">
        @*        <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" class="float-right" />*@
        <h2>Technológiák</h2>
        <p>
            A megoldásokat C# nyelven, .NET Core 3.0 keretrendszerben kell elkészíteni.
            A friss keretrendszerrel éles helyzetben is kipróbálhatsz majd olyan nyelvi elemeket,
            mint a <a href="https://www.stevejgordon.co.uk/an-introduction-to-optimising-code-using-span-t">Span&lt;T&gt;</a>,
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#indices-and-ranges">Range és Index kifejezések</a>,
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#nullable-reference-types">Nullable referencia típusok</a>,
            és <a href="https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8">egyebek</a>.
        </p><p>
            A részvételhez ajánlott letölteni a legfrissebb
            <a href="https://visualstudio.microsoft.com/vs/"><span class="font-weight-bold text-nowrap">Visual Studio 2019</span></a>
            <span class="small">(v16.3+)</span> környezetet, ami párhuzamosan más Visual Studio verziók mellé is telepíthető.
        </p>
    </div>
    <div class="clearfix">
        @*    <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" class="float-right" />*@
        <h2>Nyeremények</h2>
        <p>
            A felbecsülhetetlen értékű dicsőség mellett a dobogós résztvevők értékes nyereményben is részesülnek:
            <ul>
                <li>Első helyezett: <span class="font-weight-bold" style="color: darkgoldenrod">Johnnie Walker Gold Label</span></li>
                <li>Második helyezett: <span class="font-weight-bold">Johnnie Walker Black Label</span></li>
                <li>Harmadik helyezett: <span class="font-weight-bold" style="color: darkred">Johnnie Walker Red Label</span></li>
            </ul>
        </p>
    </div>
    <div class="clearfix">
        @*  <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" class="float-right" />*@
        <h2>Időzítés</h2>
        <p>
            <ul>
                <li>Kickoff: <span class="font-weight-bold">október 4.</span></li>
                <li>Nevezési időszak: <span class="font-weight-bold">október 7-21.</span></li>
                <li>Döntő: <span class="font-weight-bold">október 22.</span></li>
            </ul>
        </p>
    </div>
</div>

<div class="text-center" style="margin-top: -1em; margin-bottom: -8em">
    <p>
        <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" style="margin-left: auto; margin-right:auto; " />
    </p>
</div>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Oct 7, 2019 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("countdown").innerHTML = days + " nap " + hours + " óra " + minutes + " perc ";// + seconds + " másodperc";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "hamarosan...";
        }
    }, 1000);
</script>
