@page
@model IndexModel
@{
    ViewData["Title"] = "evocontest";
}

<div class="text-center">
    <h1 class="display-4">evocontest</h1>
    <p></p>
    <p>Itt hamarosan bővebb információkat találsz az október 7-én induló miskolci .NET programozó versenyről!</p>
    <p>
        <img width="200" src="~/pic/evosoft_logo_coloured_transparent.png" style="margin-left: auto; margin-right:auto; "/>
    </p>
</div>
