@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <h1 class="display-4">Főoldal</h1>
</div>
<div class="text-left">
    <p>
        Ez a 2019-es evosoft Miskolci programozó versenyének főoldala.<br />
        Ha a tavalyi sütigyűjtögetős versenyt keresed, <a href="https://evorace.azurewebsites.net">kattints ide!</a>
    </p>
</div>