@{
    ViewData["Title"] = "Feltöltés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <link rel="stylesheet" href="~/css/step-progress.css" />
    <script src="~/js/file-upload-progress.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
}

<h1>Feltöltés</h1>

<br />
<div class="container-fluid">
    <ul class="list-unstyled multi-steps">
        <li id="progressItem-0" class="is-active" style="display: none"></li>
        <li id="progressItem-1">Feltöltés</li>
        <li id="progressItem-2">Fájl vizsgálat</li>
        <li id="progressItem-3">Unit tesztek</li>
        <li id="progressItem-4">Jelentkezés elfogadva</li>
    </ul>
</div>

<div id="submitContent"></div>