@using evocontest.WebApp.Data

@{
    ViewData["Title"] = "Feltöltés";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = (ApplicationUser)ViewBag.User;
}
@section Head
{
    <link rel="stylesheet" href="~/css/step-progress.css" />
    <script src="~/js/file-upload-progress.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
}

<h1>Feltöltés</h1>

<br />
<div class="container-fluid">
    <ul class="list-unstyled multi-steps">
        <li id="progressItem-0" class="is-active" style="display: none"></li>
        <li id="progressItem-1">Feltöltés</li>
        <li id="progressItem-2">Fájl vizsgálat</li>
        <li id="progressItem-3">Unit tesztek</li>
        <li id="progressItem-4">Jelentkezés elfogadva</li>
    </ul>
</div>

<div id="submitContent"><span class="spinner-border spinner-border-sm" role="status"></span></div>

@*<div class="alert-danger">
    <h2>Erősítsd meg az email címedet!</h2>
    A nevezéshez meg kell erősítened az email címedet. A megerősítéshez kattints az emailben kapott megerősítő kódra.
    Ha nem érkezett volna meg, akkor 

    <form class="form-inline" asp-area="Identity" asp-page="/Account/SendVerificationEmail">
        <button type="submit" class="nav-link btn btn-link text-dark">itt kérhetsz újat</button>
    </form>
</div>*@
