@using evorace.WebApp.Controllers;
@model evorace.WebApp.ViewModels.SubmitViewModel
@{
    ViewData["Title"] = "Feltöltés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/file-upload-progress.js"></script>

<h1>Feltöltés</h1>

@if (Model.LatestSubmission != null)
{
    @using (Html.BeginForm(nameof(UserController.DoDelete), "User", new { submissionId = Model.LatestSubmission.Id }, FormMethod.Post))
    {
        <p class="card-header">
            Feltöltött dll: @Model.LatestSubmission.OriginalFileName
            <input type="submit" value="Törlés"
                   class="btn btn-warning"
                   onclick="return confirm('Biztos törölni szeretnéd a benevezett DLL-ed?')" />
        </p>
    }
}
else
{
    <div>
        @using (Html.BeginForm(nameof(UserController.DoUpload), "User", FormMethod.Post, new { id = "upload_form", @class = "upload_form", enctype = "multipart/form-data" }))
        {@:
            <input type="file" name="file1"><br />
            <input type="submit" class="btn btn-primary" value="Feltöltés" disabled="disabled" style="display:none;" /><br />
            <progress value="0" max="100" style="width:300px; display:none;"></progress>
            <h3 class="upload_form_status"></h3>
            <p class="upload_form_progress_status"></p>
        }
    </div>
}