@using evorace.WebApp.Controllers;
@model evorace.WebApp.ViewModels.SubmitViewModel
@{
    ViewData["Title"] = "Feltöltés";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sub = Model.LatestSubmission;
}

@section Styles
{
    <script src="https://use.fontawesome.com/c47bc38e87.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <style>
        .multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
            content: counter(stepNum);
            font-family: inherit;
            font-weight: 700;
        }

        .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
            background-color: #ededed;
        }

        .multi-steps {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

            .multi-steps > li {
                counter-increment: stepNum;
                text-align: center;
                display: table-cell;
                position: relative;
                color: tomato;
            }

                .multi-steps > li:before {
                    content: '\f00c';
                    content: '\2713;';
                    content: '\10003';
                    content: '\10004';
                    content: '\2713';
                    display: block;
                    margin: 0 auto 4px;
                    background-color: #fff;
                    width: 36px;
                    height: 36px;
                    line-height: 32px;
                    text-align: center;
                    font-weight: bold;
                    border-width: 2px;
                    border-style: solid;
                    border-color: tomato;
                    border-radius: 50%;
                }

                .multi-steps > li:after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background-color: tomato;
                    position: absolute;
                    top: 16px;
                    left: 50%;
                    z-index: -1;
                }

                .multi-steps > li:last-child:after {
                    display: none;
                }

                .multi-steps > li.is-active:before {
                    background-color: #fff;
                    border-color: tomato;
                }

                .multi-steps > li.is-active ~ li {
                    color: #808080;
                }

                    .multi-steps > li.is-active ~ li:before {
                        background-color: #ededed;
                        border-color: #ededed;
                    }
    </style>

}

<script src="~/js/file-upload-progress.js"></script>

<h1>Feltöltés</h1>


@if (sub != null)
{
    @using (Html.BeginForm(nameof(UserController.DoDelete), "User", new { submissionId = sub.Id }, FormMethod.Post))
    {
        <p class="card-header">
            Feltöltött dll: @sub.OriginalFileName <br />
            Validációs állapot: @sub.ValidationState @(sub.IsValid.HasValue ? (sub.IsValid.Value ? "kész" : "sikertelen") : "folyamatban") <br />
            @if (sub.IsValid == false)
            {
                <span class="font-weight-bold">@(sub.Error)</span><br />
            }
            <input type="submit" value="Törlés"
                   class="btn btn-warning"
                   onclick="return confirm('Biztos törölni szeretnéd a benevezett DLL-ed?')" />
        </p>
    }
}
else
{
    <div>
        @using (Html.BeginForm(nameof(UserController.DoUpload), "User", FormMethod.Post, new { id = "upload_form", @class = "upload_form", enctype = "multipart/form-data" }))
        {@:
            <input type="file" name="file1"><br />
            <input type="submit" class="btn btn-primary" value="Feltöltés" disabled="disabled" style="display:none;" /><br />
            <progress value="0" max="100" style="width:300px; display:none;"></progress>
            <h3 class="upload_form_status"></h3>
            <p class="upload_form_progress_status"></p>
        }
    </div>
}

<br />
<div class="container-fluid">
    <br /><br />
    <ul class="list-unstyled multi-steps">
        <li>Feltöltés</li>
        <li>Assembly ellenőrzés</li>
        <li class="is-active">Unit teszt ellenőrzés</li>
        <li>Jelentkezés elfogadva</li>
    </ul>
</div>